<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shiyue.mapper.ParameterMapper">

    <!--selectAllUser-->
    <select id="selectAllUser" resultType="user">
        select * from t_user;
    </select>

    <!--selectUserByUserName-->
    <select id="selectUserByUserName" resultType="user">
        select * from t_user where username = #{username}
    </select>

    <!--selectUserByIdToMap-->
    <select id="selectUser" resultType="user">
        select * from t_user where username = #{arg0} and password = #{arg1}
    </select>

    <!--selectUserByMap-->
    <select id="selectUserByMap" resultType="user">
        select * from t_user where username = #{username} and password = #{password}
    </select>

    <!--insertUser-->
    <insert id="insertUser">
        insert into t_user values(null,#{username},#{password},#{age},#{sex},#{email});
    </insert>

    <!--selectUserByParam-->
    <select id="selectUserByParam" resultType="user">
        select * from t_user where username = #{username} and password = #{password}
    </select>

</mapper>